<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coisaboa.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.COISABOA">
        
        <!-- ✅ CORRETO: MainActivity com package completo -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Suas outras activities -->
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.produtos.ProductsActivity" />
        <activity android:name=".ui.vendas.SalesActivity" />
        <activity android:name=".ui.compras.PurchasesActivity" />
        <activity android:name=".ui.relatorios.ReportsActivity" />
        <activity android:name=".ui.backup.BackupActivity" />
        
    </application>
</manifest>